In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### String
Removing redundant white spaces using string function

In [2]:
text1 = """   
What's 
happen?
"""
text1

"   \nWhat's \nhappen?\n"

In [3]:
text1.strip() # removing white spaces in the front and back of the sentence (trim() in javascript/c#)

"What's \nhappen?"

In [4]:
"".join(text1.split()) # removing all white spaces

"What'shappen?"

In [5]:
## Using regex to remove white spaces
import re

In [6]:
text2 = text1
r = re.compile(r"[\n+\s+]", re.MULTILINE) 
# [\n+\s+] means that the matching occur when the text has multi newline and multispaces
# (^\s+ means match when there is no spaces)
r.sub("", text2)

"What'shappen?"

### Table operations

In [10]:
A = {'a': [0,1,2], 'b': [0,0,0]}
A = pd.DataFrame(A).set_index('a')
display(A)
B = {'a': [1, 3], 'b': [1, 1], 'c': [2,2]}
B = pd.DataFrame.from_dict(B).set_index('a')
display(B)

   b
a
0  0
1  0
2  0

   b  c
a
1  1  2
3  1  2

In [11]:
C = A.copy()
D = B.copy()
display(pd.concat([C, D])) # Keeping multiple indices with the same value

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

   b    c
a
0  0  NaN
1  0  NaN
2  0  NaN
1  1  2.0
3  1  2.0

In [17]:
display(pd.merge(C, D, how="inner", suffixes=("_c", "_d"), on="a")) # inner join
display(pd.merge(C, D, how="left", suffixes=("_c", "_d"), on="a")) # left join
display(pd.merge(C, D, how="right", suffixes=("_c", "_d"), on="a")) # right join
display(pd.merge(C, D, how="outer", suffixes=("_c", "_d"), on="a")) # outer

   b_c  b_d  c
a
1    0    1  2

   b_c  b_d    c
a
0    0  NaN  NaN
1    0  1.0  2.0
2    0  NaN  NaN

   b_c  b_d  c
a
1  0.0    1  2
3  NaN    1  2

   b_c  b_d    c
a
0  0.0  NaN  NaN
1  0.0  1.0  2.0
2  0.0  NaN  NaN
3  NaN  1.0  2.0